* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

/* .parent{
    margin-bottom: 20px;
    overflow: hidden;
}

.user{
    background-color: rgba(132, 132, 132, 0.399);
    width: 50px;
    float: left;
    text-align: center;
    padding: 10px;
    height: 55.5px;
    font-size: 50px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #aaaaaa;

}
.one{
    background-color: rgb(238, 238, 238);
    padding: 10px;
    width: 600px;
    float: left;
    position: relative;
}
.one::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 10px;
    right: -10px;
    top: 0;
    background-color: aqua;
}
.one::before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-width: 10px;
    border-color: transparent aqua transparent transparent;
    border-style: solid;
    left: -15px;
    top: 50%;
    margin-top: -10px;

}

.owner {
    font-size: 30px;
    background-color: beige;
    width: 500px;
}
.wne{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #eeee;

}
.three{
    overflow: hidden;
}
.threethree{
    float: left;
    width: 126px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #eeee;

}
.two{
    overflow: hidden;
}
.twotwo{
    float: left;
    width:210px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #eeee;

}
.four{
    overflow: hidden;
}
.fourfour{
    float: left;
    width:85px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #eeee;

}

.box-shadow{
    overflow: hidden;
}
.element{
    float: left;
    width: 126px;
    height: 126px;
    font-size: 30px;
    font-weight: 300px;
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: #eeee;
    border: 2px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 5px 10px 0px red, -5px -10px 0px rgb(19, 34, 167);
    position: relative;

}
.element::before{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    right: 50%;
    top: 0;
    margin-top: -10px;
    margin-left: 10px;
    background-color: black;
    border-radius: 50%;
} */
/* 

div.second-parent {
    width: 600px;
    height: 300px;
    background-color: #eee;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  
  div.second-parent div {
    background-color: #607d8b;
    flex-basis: calc((100% - 40px) / 3);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  div.second-parent .one {
    order: 6;
    align-self: flex-end;
  }
  
  div.second-parent .two {
    order: 5;
  }
  
  div.second-parent .four {
    order: 4;
  }
  
  div.second-parent .five {
    order: 3;
    align-self: stretch;
  }
  
  div.second-parent .three {
    order: 2;
    align-self: flex-start;
  }
  
  /* ------------*/
  /* div.third-parent {
    background-color: #eee;
    width: 600px;
    height: 300px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  div.third-parent div {
    background-color: #009788;
    color: white;
    flex-basis: calc(100% - 40px);
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  div.third-parent .two {
    width: 400px;
    align-self: flex-start;
  }

  div.forth-parent {
    width: 600px;
    height: 300px;
    background-color: #eee;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  div.forth-parent div {
    background-color: #607d8b;
    color: white;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.forth-parent .four{
    order: -1;
    align-self: flex-end;
  }

  div.forth-parent .one {
    align-self: flex-start;
  }

  div.forth-parent .three{
    align-self: flex-start;
  }
  div.forth-parent .two{
    align-self: flex-end;
  }



  :root {
  --mainColor: #ddd;
}

.page{
    width: 700px;
    background-color: white;
    border: 10px solid #607d8b ;
    padding: 10px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header div{
    background-color: var(--mainColor);
    width: 7.5%;
    padding: 10px;

}

li{
    list-style: none;
    padding-left: 20px;
}
ul{
    background-color: var(--mainColor);
    padding: 10px;
    width: 91%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.main-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
    height: 400px;
}

.content{
    width: 65%;
background-color: var(--mainColor);
padding: 10px;
}
.sidebar{
width: 32%;
background-color: var(--mainColor);
padding: 10px;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--mainColor);
    padding: 10px;
} */ 

.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(2,1fr);
  gap: 10px;
}
.grid div{
  background-color: #607d8b;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid div:nth-child(4){
  grid-row: 2/4;
}
.grid div:nth-child(5){

  grid-row: 2/4;
}
.grid div:nth-child(6){
  grid-row: 2/4;
}

.layout{
  background-color: #ddd;
  width: 800px;
  height: 400px;
  display: grid;
  margin-bottom: 100px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 50px 400px 50px; 
  grid-template-areas: "header header header header"
  "section section section aside"
  "footer footer footer footer"

                                                         ;
  /* gap: 10px; */
}

.layout * {
  padding: 10px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  

 
}

header{
  background-color: #1e82b8;
  /* grid-column: 1/-1; */
  grid-area: header;

}

section{
  background-color: #d6199a;
  grid-area: section;
  /* grid-column: 1 / span 3; */
}

aside{
  background-color: #3dc384;
  grid-area: aside;
  /* grid-column: 4/ 5; */
}

footer{
  background-color: #e19926;
  grid-area: footer;
}

.gridd {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  grid-template-rows: 1fr auto; 
  gap: 10px;
}
.gridd *{
  background-color: #607d8b;
}


#ArticleLayout{
  display: grid;
  background-color: #ddd;
  padding: 20px 80px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,auto);
  gap: 4px; 
}

#ArticleLayout .white{
  background-color: white;
}

#ArticleLayout .art{
  padding: 10px;
  border-bottom: 2px solid orange;
}


#ArticleLayout .art:hover{
  opacity: .8;
}
.art-1{
  grid-column: span 2;

}

#ArticleLayout p {
  font-size: 10px;
  line-height: 1.4;
}

#ArticleLayout .art h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 20px;
}
#ArticleLayout .art .title h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 0px;
}

#ArticleLayout .art .title {
  margin-bottom: 20px;
} 

.art-3{
  grid-row: span 3;
  
}
.art-4{
  grid-row: span 2;
}
.art-5{
  grid-column: span 2;
}
.art-6{
  grid-column: span 2;
}

#ArticleLayout .black{
  background-color: black;
  color: white;
}

#ArticleLayout div{
  display: flex;
  flex-direction: column;
} 
#ArticleLayout img{
  width: 30px;
  align-self: flex-end;
  opacity: .6;
  color: #607d8b;
}
/* transform tasks */
.zero-word{
	width: 200px;
	height: 200px;
	background: #bcbcbc;
	transform: translate(550px, 30px);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 50%;
	color: #016b83;
	font-weight: bold;
	font-size: 20px;
	-webkit-transform: translate(550px);
	-moz-transform: translate(550px, 30px);
	-ms-transform: translate(550px, 30px);
	-o-transform: translate(550px, 30px);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.zero-word::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	border: 9px solid;
	border-color: #fd90c9 #fd90c9 #fd90c9 transparent;
	border-radius: 50%;
	transition-duration: 2s;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.zero-word:hover::after{
	transform: rotate(4turn);
}
:root {
  --backColor: #FF5722;
  --textColor: white;
}

.skew {
  width: 150px;
  margin: 100px auto;
  background-color: var(--backColor);
  color: var(--textColor);
  text-align: center;
  padding: 20px 10px;
  font-size: 40px;
  position: relative;
}
.skew::before{
  content: "";
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 20px solid transparent;
  border-right: 30px solid rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scaleY(1.3);
  right: -55px;
  -webkit-transform: translate(-50%, -50%) scaleY(1.3);
  -moz-transform: translate(-50%, -50%) scaleY(1.3);
  -ms-transform: translate(-50%, -50%) scaleY(1.3);
  -o-transform: translate(-50%, -50%) scaleY(1.3);
}
.skew::after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 20px solid transparent;
    border-left: 30px solid rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scaleY(1.3);
    left: 15px;
  }

  .skew1{
  font-size: 2em;
  text-align: center;
  padding: 15px 15px 15px 25px;
  background-color: var(--backColor);
  color: var(--textColor);
  width: 150px;
  margin: 100px auto;
  position: relative;
  }

  .skew1::before{
     content: "";
     position: absolute;
     width: 20px;
     height: 100%;
     top: 0;
     left: -10px;
     border-right: 5px solid white;
     transform: skewX(15deg);
     background-color: var(--backColor);
     -webkit-transform: skewX(15deg);
     -moz-transform: skewX(15deg);
     -ms-transform: skewX(15deg);
     -o-transform: skewX(15deg);
     overflow: hidden;
}
.transform{
  background-color: black;
  width: 200px;
  height: 200px;
  margin: 100px auto;
  position: relative;
}

.transform::before{
  content: "Elzero";
  position: absolute;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #607D8B;
  width: 265px;
  height: 260px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;
  border-bottom: 10px solid black;
  transform: rotate(-45deg) translate(2px, 84px);
  z-index: -1;
  -webkit-transform: rotate(-45deg) translate(2px, 84px);
  -moz-transform: rotate(-45deg) translate(2px, 84px);
  -ms-transform: rotate(-45deg) translate(2px, 84px);
  -o-transform: rotate(-45deg) translate(2px, 84px);
}

hr{
  margin: 300px 0 0 0;
}
.container{
  perspective: 600px;
}
.box{
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  transform-style: preserve-3d;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
 transform-origin: right center; 
}
.box:hover{
  transform: translatex(-100%) rotateY(180deg);
  -webkit-transform: translatex(-100%) rotateY(180deg);
  -moz-transform: translatex(-100%) rotateY(180deg);
  -ms-transform: translatex(-100%) rotateY(180deg);
  -o-transform: translatex(-100%) rotateY(180deg);
}
.box .face{
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  color: aliceblue;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  
}

.front{
  background-color: #d6199a;
}

.back{
  background-color: #016b83;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.load{
  margin: 30px 0;
  display: flex;
  justify-content: center;


}
.load div{
  width: 20px;
  height: 20px;
  background-color: #d6199a;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation-name: loading;
  animation-duration: .9s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.two{
  animation-delay: .3s;
  }
.three{
    animation-delay: .6s;
    }
  
@keyframes loading{
  to {
    opacity: .3;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
}
}



